<h1><%= @event.title %></h1>
<h3>host: <%= @event.creator.name %> </h3>
<p><%= @event.description %></p>
<h3>location:</h3>
<p><%= @event.location %></p>
<% if @event.date %>
  <h3>date:</h3>
  <p><%= time_tag @event.date %></p>
<% end %>
<a href=<%= attend_event_url(@event) %>><button class="btn btn-primary">Attend this event</button></a>
<h3>event attendees:</h3>
<ul>
  <% @attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ul>
